
@model List< PsicoApp.Data.Paciente>
<h1>Lista de Pacientes para consulta</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">Departamento</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>

        </tr>
    </thead>
    <tbody>
      
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Telefono</td>
                <td>@item.Departamento</td>
                <td>@item.Email</td>
                <td><button class="btn btn-primary">Agregar</button></td>
                <td><button class="btn btn-warning">Editar</button></td>
                <td><button class="btn btn-danger">Eliminar</button>

            </td>
            </tr>
            }
          
        
       
    </tbody>
</table>

 